@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #dfdfdf;
}

/* body * {
	outline: 1px solid magenta;
} */
